<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Free MP3 to WAV Converter</title>
    <meta name="description" content="Free MP3 to WAV Converter is the best place to convert MP3 files to the WAV format.">
    <link rel="stylesheet" type="text/css" href="public/assets/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Free MP3 to WAV Converter</h1>
        <form method="POST" action="/convert" enctype="multipart/form-data" target="_blank">
            <input type="file" name="file" value="file" id="file" required>
             <label for="file">Select a file to upload</label> 
             <input type="submit" value="submit">
        </form>
    </main>
</body>
</html>